html {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

body {
    font-family: sans-serif;
    color: #182818;
    font-size: 1.25rem;
    line-height: 1.6;
}

p {
    margin-block: 30px;
}

header {
    text-align: center;
}

h1 {
    color: #4676a9;
    text-align: center;
    font-size:10.5rem;
    line-height: 1.1;
}

h2 {
    color: #cb731c;
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

section {
    margin-block: 50px;
}

    
a {
    color:#cb731c;
}


a:visited {
    color: blue;
}

.accent {
    color: #34cb91;
}

#first-paragraph  {
    color: purple;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    background-color: #22466c;
    color: #ffffff;
    padding: 5px;
}